.data_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
  justify-content: initial;
  .loading {
    width: 100%;
    margin: 20% auto;
    text-align: center;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 280px;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 0.7rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    &.bunjang {
      border: 1px solid rgba(167, 15, 15, 0.22);
      box-shadow: 3px 3px 3px rgba(167, 15, 15, 0.135);
      &:hover {
        background-color: rgba(167, 15, 15, 0.135);
        box-shadow: 0px 0px 0px;
      }
    }
    &.daangn {
      border: 1px solid rgb(255, 157, 0, 0.22);
      box-shadow: 3px 3px 3px rgb(255, 157, 0, 0.135);

      &:hover {
        background-color: rgb(255, 157, 0, 0.135);
        box-shadow: 0px 0px 0px;
      }
    }
    &.jungna {
      border: 1px solid rgb(0, 193, 128, 0.22);
      box-shadow: 3px 3px 3px rgb(0, 193, 128, 0.135);
      &:hover {
        background-color: rgb(0, 193, 128, 0.135);
        box-shadow: 0px 0px 0px;
      }
    }

    .region {
      color: #ccc;
    }
  }
}
